<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DuplicatePhotoCleaner.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A606D4B52FAF14BE00C91D47</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A606D4C22FAF14BF00C91D47</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A606D4CC2FAF14BF00C91D47</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
